@model List<OnlineLibrary.Domain.Domain.BookInCart>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Book Title
            </th>
            <th>
                Author
            </th>
            <th>
                Quantity
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count(); i++)
        {
            <tr>
                <td>@(i + 1)</td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].Book.Title)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => Model[i].Book.Author.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].Quantity)
                </td>
                <td>
                    <a asp-action="DeleteFromShoppingCart" asp-controller="Order" asp-route-bookId="@Model[i].BookId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
    <th><b>Total:</b></th>

    </tfoot>
</table>

<form asp-controller="Order" asp-action="RentBooks">
    <input type="submit" value="Rent Books" class="btn btn-success" />
</form>